EventMonitoringAdmin/Web References/EventManagementService/Event.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ICAA.EventMonitoringService.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ICAA.EventMonitoringService.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ICAA.EventMonitoringService.org/">
      <s:element name="testConnection">
        <s:complexType />
      </s:element>
      <s:element name="testConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eventId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="strEventType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strEventMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMachineName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dtDateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logEventResult" type="tns:ResultSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="stringResultType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stringResultMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stringResultData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLogInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="machineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLogInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLogInfoResult" type="tns:ResultLog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultLog">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResultSet">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="logList">
                <s:complexType>
                  <s:sequence>
                    <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                    <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                  </s:sequence>
                </s:complexType>
              </s:element>
              <s:element minOccurs="0" maxOccurs="1" name="numberOfRecords" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="addNewMachine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="machineName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="environment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNewMachineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addNewMachineResult" type="tns:ResultSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeMachine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="machineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeMachineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="removeMachineResult" type="tns:ResultSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:testConnection" />
  </wsdl:message>
  <wsdl:message name="testConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:testConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="logEventSoapIn">
    <wsdl:part name="parameters" element="tns:logEvent" />
  </wsdl:message>
  <wsdl:message name="logEventSoapOut">
    <wsdl:part name="parameters" element="tns:logEventResponse" />
  </wsdl:message>
  <wsdl:message name="getLogInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getLogInfo" />
  </wsdl:message>
  <wsdl:message name="getLogInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getLogInfoResponse" />
  </wsdl:message>
  <wsdl:message name="addNewMachineSoapIn">
    <wsdl:part name="parameters" element="tns:addNewMachine" />
  </wsdl:message>
  <wsdl:message name="addNewMachineSoapOut">
    <wsdl:part name="parameters" element="tns:addNewMachineResponse" />
  </wsdl:message>
  <wsdl:message name="removeMachineSoapIn">
    <wsdl:part name="parameters" element="tns:removeMachine" />
  </wsdl:message>
  <wsdl:message name="removeMachineSoapOut">
    <wsdl:part name="parameters" element="tns:removeMachineResponse" />
  </wsdl:message>
  <wsdl:portType name="EventSoap">
    <wsdl:operation name="testConnection">
      <wsdl:input message="tns:testConnectionSoapIn" />
      <wsdl:output message="tns:testConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logEvent">
      <wsdl:input message="tns:logEventSoapIn" />
      <wsdl:output message="tns:logEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <wsdl:input message="tns:getLogInfoSoapIn" />
      <wsdl:output message="tns:getLogInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addNewMachine">
      <wsdl:input message="tns:addNewMachineSoapIn" />
      <wsdl:output message="tns:addNewMachineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeMachine">
      <wsdl:input message="tns:removeMachineSoapIn" />
      <wsdl:output message="tns:removeMachineSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventSoap" type="tns:EventSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testConnection">
      <soap:operation soapAction="http://ICAA.EventMonitoringService.org/testConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logEvent">
      <soap:operation soapAction="http://ICAA.EventMonitoringService.org/logEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <soap:operation soapAction="http://ICAA.EventMonitoringService.org/getLogInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewMachine">
      <soap:operation soapAction="http://ICAA.EventMonitoringService.org/addNewMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeMachine">
      <soap:operation soapAction="http://ICAA.EventMonitoringService.org/removeMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventSoap12" type="tns:EventSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testConnection">
      <soap12:operation soapAction="http://ICAA.EventMonitoringService.org/testConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logEvent">
      <soap12:operation soapAction="http://ICAA.EventMonitoringService.org/logEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <soap12:operation soapAction="http://ICAA.EventMonitoringService.org/getLogInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewMachine">
      <soap12:operation soapAction="http://ICAA.EventMonitoringService.org/addNewMachine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeMachine">
      <soap12:operation soapAction="http://ICAA.EventMonitoringService.org/removeMachine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Event">
    <wsdl:port name="EventSoap" binding="tns:EventSoap">
      <soap:address location="http://localhost/EventMonitoringWS/Event.asmx" />
    </wsdl:port>
    <wsdl:port name="EventSoap12" binding="tns:EventSoap12">
      <soap12:address location="http://localhost/EventMonitoringWS/Event.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>